
body{
  font-size: 14px;
}

a {
  color: #616161;
}

a:hover {
  color: #616161;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  color: #585858;
}

h1,h2,h3,h4,h5 {
  color: #616161;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

.row {
  /* margin-left: 0;
  margin-right: 0; */
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}

#gotop {
  display: none;
  position: fixed;
  background-image: url(../img/return.png);
  right: 3.2vw;
  bottom: 5px;
  padding: 20px 20px;
  cursor: pointer;
  z-index: 1000;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0 #fff;
}

.navbar {
  /* height: 100px; */
  width: 100%;
}

.navbar .navbar-brand {

}

.navbar .navbar-nav{
  width: 100%;
}

.navbar .navbar-brand {
  background: url("../img/logo.png") no-repeat center/contain;
  display: block;
  height: 75px;
  /* min-width: 204px; */
}

.navbar .navbar-nav li {
  position: relative;
  margin-bottom: .25rem;
}

.navbar .navbar-nav a {
  position: relative;
  /* margin-bottom: .25rem; */
}

.navbar .navbar-nav li.active a::after {
  content: " ";
  background-color: #BFABA0;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-right li {
  /* margin: 0 1.5rem; */
}

.nav-right .nav-item span img {
  padding-bottom: 2px;
}

.carousel-indicators li {
  background-color: rgba(255,255,255,0);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 2px solid white;
  margin: 0.5rem;
}

.carousel-indicators .active {
  background-color: rgba(255,255,255,1);
}

.banner .carousel-caption {
  /* background-color: rgba(255,255,255,.8); */
  display: flex!important;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 6rem;
}

.banner .carousel-caption h5 {
  color: #be9b87;
  font-size: 2rem;
}

.banner .carousel-caption p {
  color: #bfaba0;
  font-size: 2rem;
  /* max-width: 80%; */
  text-align: left;
  line-height: 2.5;
}

.banner .carousel-caption h1 {
    position: relative;
    font-weight: 400;
    line-height: 2;
}

.banner .carousel-caption span {
  padding-left: 5rem;
}

/* .banner .carousel-caption span::before {
  position: absolute;
  content: " ";
  border-bottom: 2px solid white;
  left: 0.25rem;
  top: 50%;
  width: 4rem;
} */

.banner .carousel-caption h1 span:first-child {
  display: block;
  position: absolute;
  content: " ";
  border-bottom: 2px solid white;
  left: 0.25rem;
  top: 50%;
  width: 4rem;
  height: 0;
  padding-left: 0;
}

.main .banner .carousel-caption .btn {
  background-color: #fff;
  color: #BFABA0;
  vertical-align: middle;
}

.main .banner .carousel-caption .btn:hover {
  background-color: #fff;
  color: #9d8d85;
}

.main .banner .carousel-caption .btn img{
  margin-bottom: 5px;
}

.carousel-fade .carousel-item img {
  width:fill-available;
}

.card-group {
  /* margin: 5rem 0; */
  background-color: rgb(218, 222, 233);
  overflow: hidden;
}

.card-group .col-sm-4 {
  padding: 0;
}

.card-group .card {
  border-width: 0;
  background-color: rgb(218, 222, 233);
  /* padding: 3rem 3rem 1rem; */
}

.card-group .card-icon-top {
  width: 72px;
  margin-bottom: 1rem;
}

.card-group .card-title {
  /* margin-top: 59px; */
}

.card-group .card-body hr {
  width: 25%;
  border-top: 2px solid white;
}

.card-group .card-body p {
  width: 95%;
  text-align: center;
  margin-block-end: 0;
  text-align-last: center;
  /* line-height: 1.8; */
}

.join {
  background: url("../img/full4_2.png") center / cover;
  padding-top: 49.3745%;
  /* font-size: 8rem; */
  width: 100%;
  /* min-height: 300px; */
  position: relative;
  overflow: hidden;
  /* display: flex; */
}

.join .content {
  /* background-color: rgb(0,0,0,.5); */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.join .content p{
  line-height: 2;
}

.join .content .card{
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255,255,255,1);
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  transform: translate(-50%, -50%);
  border-radius: .75rem;
  /* max-width: 485px; */
  /* min-height: 245px; */
}

.join .content .card .card-body a {
  color: white;
  border-color: #a18f86;
  /* background-color: rgb(255,255,255,0); */
  background-color: #BFABA0;
  padding: .5rem 1.25rem;
  border-radius: .35rem;
}

.join .content .card .card-body a:hover {
  color: white;
  border-color: #4f5b6b;
  /* background-color: rgb(255,255,255,0); */
  background-color: #5d6c80;
}

.join .content .card .card-body a:focus {
  box-shadow: #a9a8a5;
}

.product-warp {
  width: 100%;
}

.product-warp .carousel{
  width: 100%;
}

.product-warp .carousel-inner .carousel-item{
  height: 286px
  width: 100%;
  background-color: #CADCE6;
  /* float: none; */
}

.product-warp .carousel-inner .carousel-item .content{
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

.product-warp .carousel-inner .carousel-item .content .s{
  width: 20%;
  margin: 0 50px;
  height: 100px;
  background-color: red;
}

.product-warp .carousel-inner .carousel-item .content img{
  /* width: 30%; */
  max-width: 200px;
  max-height: 200px;
  height: auto;
  border-radius: 1rem;
  display: block;
  margin: 0 1rem;
}

.product-warp .carousel-inner .carousel-item .content .carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  /* display: inline; */
  text-align: left;
  width: 30%;
}

.product-warp .carousel-inner .carousel-item .content .carousel-caption a.btn{
  background-color: white;
  color: #BFABA0;
}

.product-warp .carousel-inner .carousel-item .content .carousel-caption a.btn:hover{
  background-color: #BFABA0;
  color: white;
}

input.agree {
  vertical-align: middle;
}


.more-about .card {
  border: 0;
}

.more-about .card h3 span {
  position: relative;
}

.more-about .card h3 span::after{
  content: " ";
  width: 60px;
  height: 2px;
  position: absolute;
  right: -80px;
  top: calc(50% - 1px);
  background-color: #BFABA0;
}

.more-about .card p{
  line-height: 2;
}

.more-about .card a{
  /* border: 1px solid #a18f86; */
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: #bfaba0;
}

.more-about .card a:hover{
  border: 1px solid #8c7c74;
  background-color: #bfaba0;
  color: white;
}

.others {
  width: 100%;
  color: white;
  /* display: flex; */
  overflow: hidden;
}

.others h3,
.others input {
  color: white;
}

.others .subscription {
  background-color: #929AB6;
  /* height: 400px; */
  display: flex;
  /* align-content: center; */
  justify-content: flex-end;
}

.others .subscription .left{
  /* background-color: #929AB6; */
  /* height: 400px; */
  display: flex;
  /* align-content: center; */
  justify-content: flex-end;
  margin-right: 100px;
  position: relative;
}

.others .subscription .left .btn{
  right: -80px;
  top:50%;
  position: absolute;
  padding: .75rem 1.75rem;
  border-color: #a18f86;
  color: #a18f86;
  background-color: white;
}

.others .subscription .left .btn:hover {
  border-color: #a18f86;
  color: white;
  background-color: #BFABA0;
}

.others .subscription .left hr{
  border-color: white;
  border-width: 2px;
  width: 80%;
  transform: translate(-12%, 0%);
}

.others .address {
  background-color: #9AC38F;
  color: white;
}

.others .address p {
  background-color: #9AC38F;
  color: white;
}

.footer {
  max-width: 1920px;
  /* background-color: rgba(0,0,0,.2); */
  padding: 3rem 0;
  margin: 0 auto;
  height: 120px;
}

.footer .copyright{
  float: left;
}

.footer .list{
  float: right;
}




/* skincare css */



.main .skincare-banner {
  position: relative;
  padding-top: 62.5520%;
  margin-left: -1rem;
  margin-right: -1rem;
  background: url("../img/banner5.png") center / cover;
}

.main .skincare-banner .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(255,255,255,.2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .skincare-banner .content .text p，
.main .skincare-banner .content .text h5，
.main .skincare-banner .content .text h1，{
  color: white;
}

.main .skincare-banner .content > .text {
  max-width: 65%;
  text-align: center;
  color: white;
}

.main .skincare .nav {
  padding: 3rem 0;
  justify-content: space-around;
  position: relative;
}

/* .main .skincare .nav::before {
  content: " ";
  width: 100%;
  display: inline-block;
  border-bottom: 2px #949494 solid;
  position: absolute;
  left: 0;
  top: 50%;
  transition: transformY(-50%);
  z-index: 1;
} */

.main .skincare .nav .nav-item::before {

}

.main .skincare .nav .nav-link {
  background-color: white;
}

.main .skincare .nav .nav-link {
  /* background-color: transparent; */
  border: 1.5px #585858 solid;
  border-radius: 0;
  color: #585858;
  /* padding: 2rem; */
}

.main .skincare .nav .nav-link:hover{
  border: 1.5px #BA6463 solid;
  color: #BA6463;
}

.main .skincare .nav .nav-link.active{
  border: 1.5px #BA6463 solid;
  color: #BA6463;
}

.main .skincare .header h3 {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 2px solid #BA6463;
}

.main .skincare .content {
  padding: 2.75rem;
}

.main .skincare .content section {
  margin-bottom: 2.75rem;
}

.main .skincare .content section .title {
  margin-bottom: 2.75rem;
  color: #BA6463;
}

.main .skincare .content section .title h4 {
  margin-bottom: 2.75rem;
  color: #BA6463;
}

.main .skincare .content section .title h4 span {
  position: relative;
}

.main .skincare .content section .title h4 span::after {
  position: absolute;
  content: "";
  width: 12vw;
  border-bottom: 1.5px #BA6463 solid;
  top: 50%;
  margin-left: 20px;
  display: inline-block;
}

.main .skincare .content section .item {
  padding-left: 1.75rem;
  margin-bottom: 1.25rem;
  position: relative;
  /* color: #BA6463; */
}

.main .skincare .content section .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/btn7.png") no-repeat 0 0;
  overflow: hidden;
  /* background: url("../img/btn7.png") no-repeat -24px 0; */
}

.main .skincare .content section .item h6 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.main .skincare .content section .item p {
  margin-bottom: 0.5rem;
}

.main .skincare .content section .item ul {
  padding-left: 20px;
  color: #585858;
  padding-top: -1rem;
}

.main .skincare .content section .item ul li {
  margin-bottom: 0.5rem;
}


/* about css */

.main .about-banner {
  background: url("../img/banner4.png") no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 54.7817%;
  position: relative;
  max-width: 1920px;
  margin: auto;
}

.main .about-banner .content {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .about-banner .content .text {
  max-width: 95vw;
  left: 20%;
  font-size: 2.5rem;
}

.main .about-banner .content .text p {
  color: white;
}

.main .about-banner .content .text a.btn {
  width: 13.2vw;
  font-size: 1.5rem;
  background-color: #fff;
  color: #B8A398;
}

.main .about-banner .content .text a.btn:hover {
  color: #fff;
  background-color: #B8A398;
}

.main .about-banner .content .text a.btn:hover {
  /* background-position: 0 -64px; */
}

.main .brand-story {
  width: 100%;
  padding: 3rem;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.main .brand-story .content{
  /* float: left; */
  width: calc(100% - 6rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.main .brand-story .content .left{
  width: 52%;
  padding: 3rem 1.75rem;
  overflow: hidden;
}

.main .brand-story .content .left .header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  margin-left: 3rem;
  overflow: hidden;
}

.main .brand-story .content .left .header h3{
  margin: 3rem 0;
}

.main .brand-story .content .left .header h3 span {
  position: relative;
}

.main .brand-story .content .left .header h3 span::after {
  position: absolute;
  width: 3.75rem;
  border-bottom: 3px solid #B8A398;
  top: 50%;
  right: -4.75rem;
  content: " ";
}

.main .brand-story .content .left .header img{
  margin-top: 2rem;
}

.main .brand-story .content .right{
  width: 48%;
  padding: 3rem 1.75rem;
  overflow: hidden;
}

.main .brand-story .content .right .main{
  border: 1.5px #B8A398 solid;
  border-radius: 1rem;
  margin: 0 3rem;
}

.main .brand-story .content .right .main ul{
  padding:3rem 3rem;
  padding-bottom: 0;
  margin: 0;
  overflow: hidden;
}

.main .brand-story .content .right .main ul li {
  padding-left: 4.75vw;
  list-style-type:none;
  margin-bottom: 3vw;
}

.main .brand-story .content .right .main ul li .title {
  margin-bottom: 1rem;
}

.main .brand-story .content .right .main span {
  position: relative;
}

.main .brand-story .content .right .main span::before {
  position: absolute;
  width: 2.75vw;
  border-bottom: 1.5px solid #B8A398;
  content: " ";
  top: 50%;
  left: -3.75vw;
}

.main .company-culture {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.main .company-culture .header {
  text-align: center;
}

.main .company-culture .main {
  display: grid;
  grid-template-columns: 52% 48%;
  grid-template-rows: auto;
  margin: 3rem 8%;
  border-radius: 1rem;
  /* background-color: pink; */
  overflow: hidden;
}

.main .company-culture .main .item-1,
.main .company-culture .main .item-4{
  display: flex;
  /* margin: auto; */
  align-items: center;
  padding: 3rem;
}

.main .company-culture .main .item-1 {
  background-color: #F2EEEC;
}

.main .company-culture .main .item-1 h5{
  margin-bottom: 1.75rem;
}

.main .company-culture .main .item-4 {
  background-color: #FFF1E4;
}

.main .company-culture .main .item .text p {
  line-height: 2;
}

.main .feedback {
  margin: 0 auto;
  max-width: 1920px;
}

.main .feedback .header {
  text-align: center;
  margin-bottom: 3rem;
}

.main .feedback .items {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 4.75rem 8%;
  background-color: #CFC0D2;
  margin-bottom: 3rem;
}

.main .feedback .items .item {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  margin: 0 1.5rem;
}

.main .feedback .items .item .num{
  font-size: 1.25rem;
  padding: 0.25rem 0.85rem;
  border: 1.5px solid white;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.main .feedback .items .item p{
  padding: 0 1rem;
  color: white;
  text-align:justify;
  text-align-last: center;
}

.main .latest-events {
  max-width: 1920px;
  margin: 50px auto;
  overflow: hidden;
}

.main .latest-events .header {
  margin: 0 8%;
}

.main .latest-events .header span{
  position: relative;
}

.main .latest-events .header span::after{
  position: absolute;
  content: " ";
  height: 1.5px;
  width: 100px;
  background-color: #616161;
  right: -130px;
  top: 50%;
}

.main .latest-events .heading .hr {
  content: " ";
  height: 3px;
  width: 100px;
  background-color: #616161;
  position: absolute;
  right: -130px;
  top: calc(50% - 2px);
}

.main .latest-events .content {
  padding: 0 8%;
}

.main .latest-events .content .item {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 20px;
  float: left;
}

.main .latest-events .content .item img.pic {
  margin-top: 50px;
  width: 100%;
  height: 243px;
}

.main .latest-events .content .item .title {
  padding-top: 20px;
  font-size: 18px;
}

.main .latest-events .content .item p {
  padding: 20px;
}
.skincare .nav {
  background: url("../img/hr.png") no-repeat;
  background-position: center;
  z-index: 1;
  margin-left: -1rem;
  margin-right: -1rem;
}
.skincare .nav .nav-item {
  z-index: 999;
}

.fhr {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 2rem;
}

.product-warp {
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
}

.product-warp .content{
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-flow: center;
  flex-direction: column;
}

.product-warp .header{
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
  background-color: white;
  padding: 3.75rem 0;
  display: flex;
}

.product-warp .header h3{
  margin: auto;
}

.product-warp .main{
  padding: 3rem 2rem;
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
  background-color: #CADCE6;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  position: relative;

}

.product-warp .main .pic{
  width: 15%;
  margin: 0 5rem;
}

.product-warp .main .pic img{
  overflow: hidden;
  border-radius: 1rem;
}

.product-warp .main .text {
  margin: 0 5rem;
}

.product-warp .main .text .content{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.product-warp .main .text .name,
.product-warp .main .text .desc{
  margin: 1rem 0;
}

.product-warp .main .text a.btn:hover{
  background-color: #BFABA0;
  color: white;
}

.product-warp .main .text a.btn{
  background-color: white;
  color: #BFABA0;
}

.product-warp .main .text a.next{
  position: absolute;
  right: 8%;
  top: 35%;
  font-size: 3rem;
  color: white;
  /* background-color: rgba(255,255,255,.2); */
}

.product-warp .main .text a.pre{
  position: absolute;
  left: 8%;
  top: 35%;
  font-size: 3rem;
  color: white;
    /* background-color: rgba(255,255,255,.2); */
}

/* 响应式首页轮播 */

@media (max-width: 1080px) {
  .main .banner .carousel-caption {
    padding: 0 3rem;
  }

  .main .banner .carousel-caption h1,
  .main .banner .carousel-caption p{
    font-size: 1.5rem;
    font-weight: normal;
  }
  .main .about-banner .content .text {
    font-size: 1.5rem;
    font-weight: normal;
    max-width: 95vw;
  }
  .main .about-banner .content .text a.btn {
    font-size: 1.25rem;
    width: auto;
    min-width: 56px;
  }
}

@media (max-width: 578px) {
  .main .banner .carousel-caption {
    padding: 0 2.5rem;
  }
  .main .banner .carousel-caption h1,
  .main .banner .carousel-caption p{
    font-size: 1rem;
    font-weight: normal;
  }
  .banner .carousel-caption h1 span:first-child {
    width: 1.5rem;
  }
  .banner .carousel-caption span {
    padding-left: 2rem;
  }
  .main .about-banner .content .text {
    font-size: 1rem;
    font-weight: normal;
    max-width: 95vw;
  }
  .main .about-banner .content .text p {
    margin-bottom: 0.825rem;
  }
  .main .about-banner .content .text a.btn {
    font-size: 1rem;
  }
}

@media (max-width: 453px) {
  .join .content .card .card-body h3,
  .join .content .card .card-body a {
    display: none;
  }
}

@media (max-width: 375px) {
  .main .banner .carousel-caption {
    padding: 0 2rem;
  }
  .main .banner .carousel-caption h1,
  .main .banner .carousel-caption p{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
  }
  .banner .carousel-caption h1 span:first-child {
    width: 1.5rem;
  }
  .banner .carousel-caption span {
    padding-left: 2rem;
  }
  .join span {
    display: none;
  }
  .main .about-banner .content .text p {
    margin-bottom: 0.5rem;
  }
}

/* 响应式首页轮播结束 */

/* 响应式首页商品轮播 */

@media (max-width: 426px) {
  .product-warp .carousel-inner .carousel-item .content {
    flex-direction: column;

  }
  .product-warp .carousel-inner .carousel-item .content img {
    max-width: none;
    max-height: none;
  }
  .product-warp .carousel-inner .carousel-item .content .carousel-caption {
    margin-top: 3rem;
    width: 80vw;
    max-width: 80vw;
  }
}

/* aboutbrand响应式 */

@media (max-width: 1440px) {
  .book-name {
    margin-right: 2.75rem;
  }
  .main .skincare-banner .content>.text {
    max-width: 80vw;
  }
  .main .skincare-banner .content>.text p {
    line-height: 1.8!important;
  }
}

@media (max-width: 1240px) {
  .main .brand-story .content .right .main {
    margin: 0;
  }
  .main .brand-story .content .right .main ul {
    padding: 3rem 1rem 3.2vw;
  }
  .main .brand-story .content .left {
    padding: 3rem 1.75vw;
  }
  .main .company-culture .main .item-1,
  .main .company-culture .main .item-4 {
    padding: 1.5rem;
  }
  .main .feedback .items .item {
    margin: 0 1rem;
  }
  .main .feedback .items .item p {
    padding: 0 0.825rem;
  }
}

@media (max-width: 1025px) {
  .main .brand-story .content .left .header {
    margin-left: 0;
  }
  .main .brand-story .content .right .main ul li .title {
    margin-bottom: 0.25rem;
  }
  .main .brand-story .content .right .main ul li {
    margin-bottom: 2.5vw;
  }
  .main .brand-story {
    padding: 0;
  }
  .main .brand-story .content {
    width: 90vw;
  }
  .main .feedback .items .item {
    margin: 0;
  }
  .main .feedback .items {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2rem;
  }
  .main .feedback .items .item p {
    max-width: 250px;
  }
  .main .latest-events .content .item {
    width: 100%;
  }
  .main .latest-events .content .item img.pic {
    max-width: 100%;
    width: auto;
  }
}

@media (max-width: 928px) {
  .main .company-culture .main {
    display: block;
  }
  .main .company-culture .main .item-1,
  .main .company-culture .main .item-4 {
    padding: 3rem;
  }
}

@media (max-width: 769px) {
  .main .brand-story {
    padding: 1rem;
  }
  .main .brand-story .content .right .main {
    margin: 0;
  }
  .main .brand-story .content .left,
  .main .brand-story .content .right {
    width: 100%;
    padding: 1rem;
  }
  .main .brand-story .content .left .header {
    padding: 0;
  }
  .main .feedback .items {
    padding: 1.75rem 8%;
  }
  .main .skincare-banner .content>.text {
    max-width: 95vw;
  }
  .main .skincare-banner .content>.text .display-1 {
    font-size: 3rem;
  }
  .main .skincare .nav {
    padding: 0;
  }
  
}

@media (max-width: 628px) {
  .skincare .nav .nav-item {
    padding-bottom: 3.2vw;
  }

  .skincare .nav {
    background-color: #fff;
    background-image: unset;
  }
}

@media (max-width: 602px) {
  .main .feedback .items {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.5rem;
  }
  .main .feedback .items .item p {
    max-width: 350px;
  }
  .main .feedback .items .item .num {
    font-size: 1.25rem;
    padding: 0.15rem 0.75rem;
  }
}

@media (max-width: 425px) {
  .main .company-culture .main .item-1,
  .main .company-culture .main .item-4 {
    padding: 1.5rem;
  }
  .main .latest-events .content .item {
    padding: 0;
  }
  .main .skincare .content {
    padding: 0 1rem;
  }
  
  .main .skincare-banner .content>.text p {
    font-size: 10px;
  }
}
